

/* 見出し（hタグ） */


h1 {
	display: block;
	float: left;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	text-shadow: 1px 1px 3px #5e5f66;
	text-align: center;
	font-size: 16px;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

h2 {
	margin:0;
	text-align: left;
	width: 100%;
	height: 46px;
	display: inline;
}

h2 p:nth-child(1) {
	float:left;
	background-image: url(../images/h2_l.jpg);
	display: inline-block;
	height: 23px;
	width: 160px;
	background-size: 160px, 23px;
	line-height: 21px;
}

h2 p:nth-child(1) span {
	padding-left:50px;
}

h2 p:nth-child(2) {
	float:right;
	background-image: url(../images/h2_r.jpg);
	display: inline-block;
	height: 23px;
	width: 160px;
	background-size: 160px, 23px;
	line-height: 21px;
	text-align: right;
}

h2 p:nth-child(2) span {
	padding-right:50px;
}




/* vs 画像 */

#vs {
	width: 288px;
	overflow: hidden;
	padding: 5px 16px 5px 16px;
	min-height: 132px;
	background-image: url(../images/vs_bg.jpg);
	background-size: 320px,132px;
	clear: both;
}

#vs_left {
	width: 102px;
	float: left;
}

#vs_right {
	width: 102px;
	float: right;
/* 	padding-top: 27px; */
}

#icon1_frame {
	width: 102px;
	height: 102px;
	background-image: url(../images/icon1.png);
	background-size: 102px,102px;
}

#vs_left #icon1_frame {
	text-align: left;
}

#vs_right #icon1_frame {
	text-align: right;
}

#icon1,#icon2 {
	width: 102px;
	height: 102px;
	background-size: 81px, 81px;
	background-repeat: no-repeat;
	background-position: center center;
}

/* 画像光らせる */

.vs1 #icon_shadow1 {
	box-shadow: 0px 0px 20px #ccc;
	position: relative;
}

.vs1 #icon_shadow2 {
	box-shadow: 0px 0px 0px red;
	position: relative;
}

.vs2 #icon_shadow1 {
	box-shadow: 0px 0px 0px red;
	position: relative;
}

.vs2 #icon_shadow2 {
	box-shadow: 0px 0px 20px #ccc;
	position: relative;
}


/* カウンター固定 */

.fixed {
	position: fixed;
	top:0px
}



#icon1 {
/* 	box-shadow: 0px 0px 20px #ccc; */
	background-image: url(../images/safari.jpg);
}

#icon2 {
	background-image: url(../images/googlechrome.jpg);
}

#num1 {
	width: 105px;
	height: 28px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 6px;
}

#num2 {
	width: 105px;
	height: 28px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 114px;
	margin-left:30px
}

.num1 p {
	width: 25px;
	height: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	float: left;
	background-size: 16px,16px;
	line-height: 1.4;
	letter-spacing: 13px;
	padding: 0 9px;
}



/* 以前のvs */
/*
#vs {
	width: 320px;
	min-height: 152px;
	background-image: url(../images/vs_bg.jpg);
	background-size: 320px,152px;
	clear: both;
}

#vs_left {
	width: 150px;
	margin: 6px 0 0 16px;
	float: left;
}

#vs_right {
	width: 150px;
	margin: 6px 0 0 16px;
	overflow: hidden;
}

#icon1 {
	width: 102px;
	height: 102px;
	background-image: url(../images/bg_icon.png);
	background-size: 102px,102px;
}

#icon2 {
	width: 102px;
	height: 102px;
	background-image:url(../images/bg_icon.png);
	background-size: 102px,102px;
	margin:6px 16px;
	float:right;
	overflow: hidden;
	box-shadow: 0px 0px 18px #e7e7ad;
}

#num1 {
	width: 105px;
	height: 28px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 6px;
}

#num2 {
	width: 105px;
	height: 28px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 114px;
	margin-left:30px
}
*/


#message {
	min-height: 40px;
	width: 320px;
	background: url(../images/message.jpg);
	background-size: 320px,40px;
}

#vs_archive {
	height: 28px;
	width: 320px;
	background:url(../images/vs_archive.png);
	background-size: 320px,28px;
}

div#wrapper {
	width: 100%;
	height: auto;
	text-align: center;
	background-color:#585da1;
	background-image:url(../images/bg.jpg);
	background-size: 320px,139px;
}

#message p {
	color: #babaa5;
	font-size:12px;
	font-weight:bold;
	text-shadow: 1px 1px 5px #585953;
}

#vs_archive p {
	color: #a8aaad;
	font-size:10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #5e5f66;
	height: 28px;
	line-height: 2;
}

span#mincho {
	font-family: 'Hiragino Mincho ProN', serif;
	text-decoration: underline;
}


/* おわりー */

/* つぎ、コメントリスト */

.com_l {
	width: 43px;
	height: 43px;
	background-size: 43px,43px;
	float: left;
}

.com_r {
	overflow: hidden;
}

.com_r p {
	text-align: left;
	color:#fff;
	line-height: 1.7;
	margin-right:16px;
}

#comment_list {
	width: 100%;
	height: auto;
}

.comment_l,.comment_r {
	margin: 10px 16px 0 16px;
}

.comment_l .com_l {
	margin-right: 16px;
	background-image: url(../images/safari.jpg);
}

/*
#comment_list hr {
	height: 1px;
	background-color: #000;
	border: none;
	color: #000;
	box-shadow: 0px 1px 0 #606060;
	margin:0;
	clear:both;
}
*/


.username {
	font-size:14px;
	font-weight: bold;
}

.com_el {
	clear: both;
	width: 280px;
	height: auto;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.com_el span {
	color: #fff;
	font-size: 10px;
	text-align: left;
	width: 80px;
}

div.answer {
	width: 45px;
	height: 17px;
	background-image:url(../images/answer.png);
	background-size: 45px,17px;
	float: left;
	display: none;
}

div.data {
	color: #9a9a9a;
	float: left;
}

div.btn{
	width: 120px;
	float: right;
}

/*div.negaeru {
	width: 68px;
	height: 28px;
	background-image:url(../images/negaeru.png);
	background-size: 68px,28px;
	float:right;
}*/

li.comment_left,li.comment_right {
	clear:both;
	padding: 5px 0;
	border-top: 1px solid #303030;
}


div.negaeru_on {
	width: 68px;
	height: 28px;
	background-image:url(../images/negaeru_on.png);
	background-size: 68px,28px;
	float:right;
}

.vs1 li.comment_left div.negaeru{
	display: none;
}
.vs1 li.comment_left div.hagedou{
	display: block;
	width: 68px;
	height: 26px;
	background-image: url(../images/hagedou.png);
	background-size: 68px,26px;
	float: right;
}
.vs1 li.comment_right div.negaeru{
	display: block;
	width: 68px;
	height: 26px;
	background-image:url(../images/negaeru.png);
	background-size: 68px,26px;
	float:right;
}
.vs1 li.comment_right div.hagedou{
	display: none;	
}
.vs1 li.comment_right div.hagedou_on{
	display: none;	
}
.vs2 li.comment_left div.negaeru{
	width: 68px;
	height: 28px;
	background-image:url(../images/negaeru.png);
	background-size: 68px,28px;
	float:right;
}
.vs2 li.comment_left div.hagedou{
	display: none;
}
.vs2 li.comment_left div.hagedou_on{
	display: none;
}
.vs2 li.comment_right div.negaeru{
	0px 0px 0px;	
}
.vs2 li.comment_right div.hagedou{
	width: 68px;
	height: 26px;
	background-image:url(../images/hagedou.png);
	background-size: 68px,26px;
	float:right;
}

div.hagedou_on {
	width: 68px;
	height: 26px;
	background-image: url(../images/hagedou_on.png);
	background-size: 68px,26px;
	float: right;
}

.comment_r .com_l {
	float: right;
	background-image: url(../images/googlechrome.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}


/* コメント入力欄 */

div#input_com {
	width: 200px;
}

div#input_com input {
	margin-bottom:100px
}

form {
	clear:both;
	display: -webkit-box;
	padding:6px;
	position: fixed;
	bottom:-16px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #1c1c1c), color-stop(1.00, #1c1c1c), color-stop(0.00, #636363));
	background: -webkit-linear-gradient(top, #636363 0%, #1c1c1c 100%, #1c1c1c 100%);
	background: -moz-linear-gradient(top, #636363 0%, #1c1c1c 100%, #1c1c1c 100%);
	background: -o-linear-gradient(top, #636363 0%, #1c1c1c 100%, #1c1c1c 100%);
	background: -ms-linear-gradient(top, #636363 0%, #1c1c1c 100%, #1c1c1c 100%);
	background: linear-gradient(top, #636363 0%, #1c1c1c 100%, #1c1c1c 100%);
	background-size:320px,45px;
	width: 308px;
	height: 45px;
	background-repeat:no-repeat;
}

input#submitBtn {
	width: 45px;
	height: 29px;
	padding:2px;
	background-color:#000;
	color: #fff;
	border: none;
	-webkit-border-radius:6px;
	vertical-align: 16px;
}

textarea {
	width: 240px;
	margin-bottom: 6px;
}


/* カウンター */

.num1 {
	width: 100px;
	height: 27px;
	background-image: url(../images/num.png);
	background-size: 100px,27px;
	margin-top: 6px;
}

.num1 div {
	width: 25px;
	height: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	float: left;
	background-size: 16px,16px;
	line-height: 1.4;
}

