/* vs 画像 */

#vs {
	width: 288px;
	overflow: hidden;
	padding: 28px 16px;
	position: relative;
}

#vs_left,#vs_right {
	width: 288px;
	padding: 0 16px;
	text-align: left;
	position:relative;
}

#vs_img {
	background-image: url(../images/vs_img_bg.png);
	width: 248px;
	height: 36px;
	padding: 6px;
	background-size: 59px,36px;
	background-position: center left;
	background-repeat: no-repeat;
	margin-left: 24px;
	clear: both;
}

#icon1_frame {
	width: 102px;
	height: 102px;
	background-image: url(../images/icon1.png);
	background-size: 102px,102px;
}

#vs_left #icon1_frame {
	text-align: left;
	width: 102px;
	float: left;
}

#vs_right #icon1_frame {
	text-align: right;
}

#icon1 {
	width: 102px;
	height: 102px;
	background-image:url(../images/no_img.png);
	background-size: 81px, 81px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}

.name_input1 {
	width: auto;
	float: right;
	position: absolute;
	top: 33px;
	left: 134px;
	text-align: left;
	color: #fff;
	font-size:14px;
}

.name_input2 {
	width: auto;
	float: right;
	position: absolute;
	top: 184px;
	left: 134px;
	text-align: left;
	color: #fff;
	font-size:14px;
}


/* inputタグの選択していませんを隠す */

#imageInput1 {
	opacity: 0;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 38px;
}

#imageInput2 {
	opacity: 0;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 38px;
}


#name1,#name2 {
	position: absolute;
	left: 140px;
	top: 40px;
}


/* コメント入力欄 */

h3 {
	text-align: center;
	font-size: 14px;
}

#commentbox {
	width: 281px;
}


/* 調整 */

div:nth-child(3) {
	padding:20px 0;
}


.num1 {
	width: 105px;
	height: 10px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 6px;
}

.num1 div {
	width: 16px;
	height: 16px;
	color: #fff;
	font-weight: normal;
	font-size: 10px;
	float: left;
	background-image: url(../images/num_bg.png);
	background-size: 16px,16px;
	line-height: 1.4;
}

#preview1,#preview2 {
	background-size:100px,100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/no_img.png);
}
 

/* 入力欄 */

input {
	background-color: #292c32;
	color: #fff;
	font-size:14px;
}


/* 作成ボタン */

#builtbtn {
	width: 130px;
	height: 45px;
	background-size: 130px,45px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.builtbtn_img {
	width: 130px;
	height: 45px;
	background-image: url(../images/build.png);
	background-size: 130px,45px;
	background-repeat: no-repeat;
	background-position: center;
}

.builtbtn_img_on {
	width: 130px;
	height: 45px;
	background-image: url(../images/build_on.png);
	background-size: 130px,45px;
	background-repeat: no-repeat;
	background-position: center;
}