/* #user_info */

section#user_info {
	width: 284px;
	padding: 0 18px;
	display: -webkit-box;
}

section#user_info p {
	font-size:15px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}

p#name {
	color: #fff;
}

p#id {
	color: #c0c0c0;
	margin-left:36px;
}


/* コメント */

#commentbaloon {
	width: 285px;
	height: 66px;
	background-image:url(../images/baloon_bg.png);
	background-size:285px,66px;
	margin: 6px auto;
}

#commentbaloon input {
	width: 250px;
	margin: 0 auto;
	background-color:#2f3033;
	border: none;
	color: #8e8e8e;
	text-shadow: 1px 1px 1px #000;
	font-size:14px;
	margin: 27px 0;
}


/* カウンター */

#counter {
	background-image:url(../images/count_bg.png);
	background-size:285px,61px;
	width: 285px;
	height: 61px;
	margin: 6px auto 12px auto;
	display: -webkit-box;
	position: relative;
}

#counter p {
	font-size:15px;
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
}

#negaeru_count,#hagedou_count {
	width: 142px;
	height: 61px;
}


/* お気に入りバトルリスト */

section#favorite {
	margin: 10px auto;
}

#favo_header {
	background-image: url(../images/favo_header.png);
	background-size:285px,39px;
	width: 285px;
	height: 39px;
	margin:0 auto;
}

#favo_header p {
	font-size:15px;
	font-weight:bold;
	color: #31302a;
	line-height: 39px;
	text-align: left;
	margin: 0 0 0 12px;	
}

#favorite ul {
	width: 282px;
	height: auto;
	position: relative;
	background-color: #2f3033;
	margin: 0 18px;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
}

#favo_footer {
	background-color: #2f3033;
	width: 282px;
	height: 4px;
	margin: 0 18px;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-bottom: #000 1px solid;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}


/* vs 画像 */
.vs {
	width: 259px;
	overflow: hidden;
	padding: 10px 8px 10px 12px;
	clear: both;
	background-image: url(../images/arrow.png);
	background-position: right center;
	background-size: 10px,12px;
	background-repeat: no-repeat;
}

.box {
	display: -webkit-box;
}



.vs_img {
	width: 33px;
	background-image: url(../images/vs_tx_bg.png);
	background-repeat: no-repeat;
	background-size: 33px,30px;
	height: 18px;
	margin: 0 auto 3px auto;
}

.vs_left {
	width: 65px;
}

.vs_right {
	width: 65px;
}

.icon1_frame {
	width: 65px;
	height: 66px;
	background-image: url(../images/icon1.png);
	background-size: 66px,65px;
}

.vs_left #icon1_frame {
	text-align: left;
}

.vs_right #icon1_frame {
	text-align: right;
}

.icon1,.icon2 {
	width: 60px;
	height: 60px;
	background-size: 55px, 55px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon1 {
	background-image: url(../images/kinoko.png);
}

.icon2 {
	background-image: url(../images/takenoko.png);
}

.num1 {
	width: 105px;
	height: 10px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 6px;
}

.num2 {
	width: 105px;
	height: 28px;
	background-image: url(../images/num.png);
	background-size: 105px,31px;
	margin-top: 114px;
	margin-left:30px
}

.num1 div {
	width: 16px;
	height: 16px;
	color:#fff;
	font-weight: normal;
	font-size:10px;
	float:left;
	background-image: url(../images/num_bg.png);
	background-size:16px,16px;
	line-height: 1.4;
}

.vs_title {
	width: 118px;
	font-size: 14px;
	font-weight: normal;
}

.vs_comment{
	font-size:10px;
	color:#fff;
	margin: 0;
	padding: 0;
	line-height: 1.7;
	clear:both;
	text-align: center;
	letter-spacing: 1px;
	line-height: 16px;
	padding-top: 4px;
}

hr {
	height: 1px;
	background-color: #000;
	border: none;
	color: #000;
	box-shadow: 0px 1px 0 #606060;
	margin: 0;
	clear: both;
}

.arrow_bg {
	background-image:url(../images/arrow.png);
	background-position:right center;
	right: 10px;
	background-size:10px,12px;
	background-repeat:no-repeat;
}
